<script type="text/javascript" src="{{ "/assets/js/vendor/retina-1.3.0.min.js" | absolute_url }}"></script>

<script type="text/javascript" src="{{ "/assets/js/vendor/cash-4.1.5.min.js" | absolute_url }}"></script>

<script type="text/javascript" src="{{ "/assets/js/site.js" | absolute_url }}"></script>

<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" defer></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script type="text/javascript" src="{{ "/assets/js/back-to-top.js" | absolute_url }}"></script>

<p style="display: none;">
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5bq4d0diigd&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
</p>

