<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '' | prepend: site.baseurl | prepend: site.url }}/">
      <img src="{{ "/assets/img/title.png" | absolute_url }}" alt="{{ site.title }}" />
    </a>

    <!-- Remove "stroke" to disable underline effect -->
    <nav class="site-nav stroke">
      <a href="#" class="menu-icon"></a>

      <div class="menu">
        {% for nav_item in site.data.navbar %}
          
          <!-- First obtaining nav_link -->
          {% if nav_item.slug and nav_item.slug != "" and nav_item.slug != nil %}
            {% assign nav_link = nav_item.slug %}
          {% else %}
            {% assign nav_link = "/" | append: nav_item.name | downcase %}
          {% endif %}
          {% assign nav_link = nav_link | absolute_url %}
          
          <!-- Displaying nav_item name with anchor to nav_link -->
          <a class="nav-link" href="{{ nav_link }}">
            {{ nav_item.name }}
          </a>
          
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
