/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  padding-top: 10px;
  padding-bottom: 10px;

  @include media-query($on-mobile) {
    padding-top: 0;
    padding-bottom: 0;
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;

  float: left;

  // Obsolete settings: I'm using an image instead of text
  /**
   * &,
   * &:visited {
   *   color: $grey-color-dark;
   * }
   */
}

/**
 * Site nav
 */
.site-nav {
  z-index: 10;
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .nav-link {
    color: $grey-color;
    line-height: $base-line-height;
    text-decoration: none;
    font-family: "Futura", sans-serif;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }

  }

  @include media-query($on-mobile) {
    position: absolute;
    top: 12px;
    right: 24px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 4px;
      text-align: center;

      background: #ffffff url($base-url + '/assets/img/menu.png') 6px 4px no-repeat;
    }

    .menu {
      clear: both;
      position: relative;
      top: 12px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      display: none;
      background-color: #ffffff;
      min-width: 10em;
      padding-bottom: 5px;
    }

    .nav-link {
      color: $grey-color-dark;
      font-size: 16px;
      display: block;
      padding: 6px 16px;

      &:not(:first-child) {
        margin-left: 0px;
      }
    }
  }
}

/* mouse effects on nav links */
a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .4s;
  // This overrides transition setting in _base.scss
}
a.nav-link:hover {
  color: $grey-color-dark;
}

/* stroke */
.stroke a.nav-link {
  position: relative;
}
.stroke a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.stroke a.nav-link:hover:after {
  width: 100%;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  @include media-query($on-mobile) {
    padding-top: 10px;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.powered-by {
  font-size: 13px;
  color: $grey-color;
}

@include media-query($on-mobile) {
  .footer-col {
    float: none;
    width: 100%;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

/**
 * Back-to-top button behavior
 */
#button {
  display: inline-block;
  background-color: #B0C4DE;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #FFFAFA;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
