<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <!-- <details>
            <summary><i>Table of Contents</i> <small style="color: #6082B6;">(Expand)</small></summary>
            <br/>
            <ol>

              {% for member in site.data.blog-categories %}
                <li><a href="#{{ member.category }}">{{ member.name }}</a></li>
              {% endfor %}

              <li><a href="https://theroboticsclub.github.io/gsoc2021-Siddharth_Saha/blog" target="_blank">GSoC Blog</a></li>

            </ol>
          </details> -->

            <ol>
              {% for member in site.data.blog-categories %}
                <li><a href="#{{ member.category }}">{{ member.name }}</a></li>
              {% endfor %}

              <li><a href="https://theroboticsclub.github.io/gsoc2021-Siddharth_Saha/blog" target="_blank">GSoC Blog &nbsp;<i class="fa fa-external-link fa-xs" aria-hidden="true"></i> </a> </li>
            </ol>

            <center><i class="fa fa-dog" aria-hidden="true"></i></center>

          {% for member in site.data.blog-categories %}
            <h2 id="{{ member.category }}">{{ member.name }}</h2>
            {% include category-posts.html %}
          {% endfor %}
          
          <br/>

          <p style="color: #4f4944; font-size: 80%;">
              GSoC blog on external site 
              <a href="https://theroboticsclub.github.io/gsoc2021-Siddharth_Saha/blog" target="_blank">
                <i class="fa fa-external-link fa-xs" aria-hidden="true"></i>
              </a>
          </p>

          <br/>

        </div>
      
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
