<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <h2>Paper Reviews</h2>
          {% assign category = "paper-reviews" %}
          {% include category-posts.html %}

          <h2>Tutorials</h2>
          {% assign category = "tutorials" %}
          {% include category-posts.html %}

          <h2>Personal Anecdotes & Life Events</h2>
          {% assign category = "life-events" %}
          {% include category-posts.html %}
          
          <h2>Project Documentation</h2>
          {% assign category = "projects" %}
          {% include category-posts.html %}

          <h2>Miscellany</h2>
          {% assign category = "miscellany" %}
          {% include category-posts.html %}

        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
