<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <ol>
            <li><a href="https://theroboticsclub.github.io/gsoc2021-Siddharth_Saha/blog" target="_blank" rel="noopener noreferrer">GSoC Blog &nbsp;<i class="fa fa-external-link fa-xs" aria-hidden="true"></i> </a> </li>

            {% for member in site.data.blog-categories %}
              <li><a href="#{{ member.id }}">{{ member.name }}</a></li>
            {% endfor %}
          </ol>

          <p class="blog-separator"><i class="fa fa-dog" aria-hidden="true"></i></p>


          <h2>GSoC Blog</h2>
          <p class="blog-external-note">
              GSoC blog on external site 
              <a href="https://theroboticsclub.github.io/gsoc2021-Siddharth_Saha/blog" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-external-link fa-xs" aria-hidden="true"></i>
              </a>
          </p>

          {% for member in site.data.blog-categories %}
            <h2 id="{{ member.id }}">{{ member.name }}</h2>
            {% include category-posts.html %}
            <div style="margin-bottom: 2em;"></div>
          {% endfor %}

        </div>
      
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
