<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          
          <h1 class="page-heading">Professional Experience and International Exchange</h1>
          {% for item in page.professional %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong> | <em>{{ item.company }}</em>
              &mdash;
              {{ item.description }}
            </span>
          </div>
          {% endfor %}

          <h1 class="page-heading">Key Projects</h1>
          {% for item in page.projects %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              &mdash;
              {{ item.description }}
              <br/>
              {% if item.repo%}
                » <a href={{ item.repo }}>Repository</a>
              {% endif %}
              {% if item.blog%}
                » <a href={{ item.repo }}>Blog</a>
              {% endif %}
            </span>
          </div>
          {% endfor %}
          {% comment %}{{ content }}{% endcomment %}
          
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
